.supplier-item {
    padding: 1rem 2rem 1rem 15px;
    cursor: pointer;
    color: var(--font-color);
    transition: background .2s;
    position: relative;
    border-top: 1px solid rgb(211, 211, 211);
}

.supplier-item:hover {
    background: var(--element-hover);
}

.edit-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: 0;
    margin-left: auto;
    transition: background .2s;
    opacity: 0;
    visibility: hidden;
}

.edit-icon {
    width: 20px;
    height: 20px;
    transition: .2s;
}

.edit-icon:hover {
    fill: blue;
}

