.supplier-item {
    padding: 1rem 2rem 1rem 15px;
    cursor: pointer;
    background: #dadee5;
    transition: background .2s;
    position: relative;
}

.supplier-item + .supplier-item {
    margin-top: .7rem;
}

.supplier-item:hover {
    background: hsl(0 0% 60%);
}

.edit-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: 0;
    margin-left: auto;
    transition: background .2s;
    opacity: 0;
    visibility: hidden;
}

.edit-btn:hover {
    background: rgba(166, 217, 255, 0.47);
}

.edit-icon {
    width: 20px;
    height: 20px;
}

