.route-element {
    background: var(--element-background);
    color: var(--font-color);
    padding: 0.5rem;
    position: relative;
}

.remove-btn {
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: calc(50% - 13px);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.url {
    text-decoration: none;
    color: var(--main-blue);
}

.url:hover {
    text-decoration: underline;
}

.remove-btn:hover {
    background: #a5aeb1;
}
