.supplier-tab {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    transition: left .2s ease-in-out;
    padding-bottom: .5rem;
}

@media (max-width: 768px) {
    .supplier-tab {
        width: 100vw;
        left: 100vw;
    }
}

.supplier-tab--active {
    left: 0;
}

.supplier-tab-header {
    color: white;
    background: var(--main-blue);
    padding: 0 .625rem;
    min-height: 60px;
    display: flex;
    align-items: center;
    /*border-bottom: 1px solid var(--border-color);*/
    /*transition: box-shadow .2s ease-in-out;*/
}

/*.supplier-tab--active > .supplier-tab-header {*/
/*    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);*/
/*}*/

.supplier-tab-main {
    /*padding-right: 1.5rem;*/
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.close-supplier-tab {
    overflow: hidden;
    background: 0;
    border-radius: 50%;
    height: 2.3rem;
    width: 2.3rem;
    border: 0;
    cursor: pointer;
    position: relative;
    transition: background-color .2s ease-in-out;
}

.close-supplier-tab:hover {
    background: var(--hover-gray-color);
}

.close-supplier-tab:focus {
    background: 0;
}

.close-supplier-tab:active {
    background: var(--hover-gray-color);
}

.close-supplier-icon {
    position: absolute;
    left: calc(50% - 1.125rem);
    top: calc(50% - 1rem);
    height: 2rem;
    width: 2rem;
    transition: fill .2s ease-in-out;
    stroke: white;
}

/*.close-supplier-info:hover > .close-supplier-icon {*/
/*    fill: var(--main-blue);*/
/*}*/

.supplier-tab-title {
    margin-left: 0.2rem;
    font-size: 1.5rem;
}
