.supplier-tab {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  transition: left 0.2s ease-in-out;
  padding-bottom: 0.5rem;
}

.supplier-tab--active {
  left: 0;
}

.supplier-tab-header {
  background: var(--primary-color);
  padding: 0 0.625rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
}

.supplier-tab-title {
  color: white;
  margin-left: 0.25rem;
  font-size: 1.25rem;
  user-select: none;
}

.supplier-tab-main {
  height: 100%;
  overflow: auto;
}

.close-supplier-tab {
  overflow: hidden;
  background: 0;
  border-radius: 50%;
  height: 2.25rem;
  width: 2.25rem;
  border: 0;
  cursor: pointer;
  position: relative;
}

.close-supplier-tab:active {
  background: var(--element-hover-color);
}

.close-supplier-icon {
  position: absolute;
  left: calc(50% - 1rem);
  top: calc(50% - 0.875rem);
  height: 1.75rem;
  width: 1.75rem;
  transition: fill 0.2s ease-in-out;
  stroke: white;
}

.edit-supplier-btn {
  border: 0;
  border-radius: 2rem;
  height: 2.25rem;
  width: 2.25rem;
  background: 0;
  cursor: pointer;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-supplier-btn:active {
  background: var(--element-hover-color);
}

.edit-supplier-icon {
  height: 1.75rem;
  width: 1.75rem;
  stroke: white;
}

@media screen and (min-width: 45rem) {
  .close-supplier-tab:hover {
    background: var(--element-hover-color);
  }

  .edit-supplier-btn:hover {
    background: var(--element-hover-color);
  }

  .supplier-tab-header {
    min-height: 3.5rem;
  }

  /*.close-supplier-tab:active {*/
  /*    background: var(--element-hover-color);*/
  /*}*/
}
