.supplier-tab {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    transition: left .2s ease-in-out;
}

@media (max-width: 768px) {
    .supplier-tab {
        width: 100vw;
        left: 100vw;
    }
}

.supplier-tab--active {
    left: 0;
}

.supplier-tab-header {
    color: white;
    background: #60b7ef;
    padding: 0 .625rem;
    min-height: 60px;
    display: flex;
    align-items: center;
    /*border-bottom: 1px solid var(--border-color);*/
    transition: box-shadow .2s ease-in-out;

}

.supplier-tab--active > .supplier-tab-header {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.supplier-tab-main {
    padding-right: 1.5rem;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.supplier-info > * + * {
    border-top: 1px solid var(--border-color);
}

.supplier-header {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.2rem .7rem;
}

.supplier-name {
    font-size: 1.5rem;
}

.supplier-info-text {
    padding: .7rem 0 .7rem 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.supplier-url {
    border: 0;
    display: flex;
    align-items: center;
    margin-left: auto;

}

.supplier-url > p {
    margin-left: .5rem;
}

.supplier-info-text > p {
    padding-right: 3rem;
    margin-left: 1rem;
    text-align: justify;
}

.supplier-info-text > b {
    /*margin-right: auto;*/
}

.icon-container {
    height: 2rem;
    width: 2rem;
}

.supplier-url-icon {
    height: 1rem;
    width: 1rem;
}

.supplier-info-icon {
    height: 2rem;
    width: 2rem;
}

.copy-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
    background: var(--main-blue);
    border: 0;
    border-radius: 5px;
    font-size: 1.2rem;
    padding-top: .1rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s ease-in-out, opacity .2s ease-in-out, width .1s ease-in-out;
    width: 2rem;
    height: 2rem;
}

.copy-icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-bottom: .2rem;
    stroke: white;
}

.copy-btn--shown {
    visibility: visible;
    opacity: 1;
}

.copy-btn--copied {
    width: 8.5rem;
    color: white;
}

.close-supplier-tab {
    background: 0;
    border-radius: 50%;
    height: 2.3rem;
    width: 2.3rem;
    border: 0;
    cursor: pointer;
    position: relative;
    transition: background-color .2s ease-in-out;
}


.close-supplier-tab:hover {
    background: var(--hover-gray-color);
}

.close-supplier-tab:focus {
    background: 0;
}

.close-supplier-icon {
    position: absolute;
    left: calc(50% - 1.05rem);
    top: calc(50% - 0.9rem);
    height: 1.8rem;
    width: 1.8rem;
    transition: fill .2s ease-in-out;
    fill: white;
}

/*.close-supplier-info:hover > .close-supplier-icon {*/
/*    fill: var(--main-blue);*/
/*}*/

.supplier-tab-title {
    margin-left: 0.2rem;
    font-size: 1.5rem;
}
