.route-element {
    padding: 0.625rem .625rem .625rem 1.25rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--font-color);
}

.route-element + .route-element {
    border-top: 1px solid var(--border-color);
}

.remove-btn {
    margin-left: auto;
    border: 0;
    background: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-icon {
    transition: .2s;
    height: 2rem;
    width: 2rem;
    stroke: black;
}

.remove-icon:hover {
    stroke: #e51010;
}
