.route-sheet-page {
    display: flex;
    /*max-width: 100rem;*/
    width: 100%;
    height: 100%;
    /*border: 1px solid var(--border-color);*/
    border: 0;
    position: relative;
    margin: -1px;
    overflow: hidden;
}

.content-container {
    background: white;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

.content-container--left {
    /*min-width: 20rem;*/
    width: 100%;
    /*min-width: 28rem;*/
    transition: margin-left .2s;
    /*box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.3);*/
}

.content-container--left.left-margin {
    /*margin-left: 20rem;*/
    margin-left: 100%;
}

.content-container--right {
    border-left: 1px solid var(--border-color);
    width: 100%;
    display: none;
}

/*@media (max-width: 768px) {*/
/*    .route-sheet-page {*/
/*        border: 0;*/
/*    }*/

/*    .content-container--left {*/
/*        width: 100%;*/
/*    }*/

/*    .content-container--left.left-margin {*/
/*        margin-left: 100%;*/
/*    }*/

/*    .content-container--right {*/
/*        display: none;*/
/*    }*/
/*}*/

.logout-window {
    position: absolute;
    right: .25rem;
    bottom: .25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.logout-button-container {
    padding: .625rem 1.25rem;
    background: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-bottom: .25rem;
    display: none;
    box-shadow: 1px 1px 1px 0 hsla(0, 0%, 0%, 0.14);
}

.logout {
    height: 2.5rem;
    width: 10rem;
    background: var(--primary-color);
    color: white;
    font-size: 1rem;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0 hsla(0, 0%, 0%, 0.14)
}

.logout-window:hover .logout-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



