.right-container {
    border: 1px solid rgb(211, 211, 211);
    background: #ffffff;
    height: 100%;
    margin-left: 1rem;
    flex: 3;
    box-sizing: content-box;
}

@media (max-width: 768px) {
    .right-container {
        display: none;
    }
}


