.suppliers-container {
  min-width: 350px;
  max-width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.top-row {
  display: flex;
}

.add-supplier-btn {
  font-size: 2rem;
  font-weight: 300;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1DA1F2;
  color: #ffffff;
  box-shadow:  5px 5px 10px #bebebe,
  -5px -5px 10px #ffffff;
  cursor: pointer;
  border: 0;
  margin-left: auto;
  transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1);
}

.add-supplier-btn:hover {
  transform: scale(1.2);
}

.search-bar {
  flex-grow: 1;
  margin-right: .5rem;
  padding: 5px 0 5px 15px;
  font-size: 1.2rem;
  height: 40px;
  border-radius: 20px;
  background: #eeeeee;
  box-shadow:  5px 5px 10px #bebebe,
  -5px -5px 10px #ffffff;
  outline: none;
  border: 0;
}

.suppliers-list-container {
  margin-top: 1em;
  overflow: auto;
}

.suppliers-list {
  list-style: none;
  font-size: 1.2rem;
}

.suppliers-list > li {
  padding: 0.3rem 0.5rem 0.3rem 15px;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  5px 5px 10px #bebebe,
  -5px -5px 10px #ffffff;
}

.suppliers-list > li + li {
  margin-top: 1rem;
}

.suppliers-list > li:hover {
  background: hsl(0 0% 60%);
}

.span-container {
  display: flex;
  justify-content: center;
  padding: 1.5em;
}
