.suppliers-container {
  padding: 1em;
  min-width: 350px;
  max-width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.add-supplier-btn {
  position: absolute;
  right: 30px;
  top: 17px;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}

.search-bar {
  padding: 5px 0 5px 15px;
  font-size: 1.2rem;
  height: 34px;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 1rem;
}

.suppliers-list-container {
  border: 1px solid rgb(112, 112, 112);
  margin-top: 1em;
  overflow: auto;
}

.suppliers-list {
  list-style: none;
  font-size: 1.2rem;
}

.suppliers-list > li {
  padding: 0.3rem 0.5rem 0.3rem 15px;
  cursor: pointer;
}

.suppliers-list > li:nth-child(odd) {
  background: rgb(236, 240, 241);
}

.suppliers-list > li:hover {
  background: hsl(0 0% 60%);
}

.span-container {
  display: flex;
  justify-content: center;
  padding: 1.5em;
}
