.suppliers-container {
    background: #ffffff;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    flex: 2;
    position: relative;
    border: 1px solid rgb(211, 211, 211);
}

.top-row {
    display: flex;
    position: relative;
}

.glass {
    width: 16px;
    height: 16px;
    position: absolute;
    fill: var(--main-blue);
    top: calc(50% - 8px);
    left: 10px;
}

.add {
    font-size: 2.2rem;
    font-weight: 300;
    color: white;
    margin-left: .5rem;
}

.search-bar {
    flex-grow: 1;
    padding: 5px 0 5px 30px;
    font-size: 1.2rem;
    font-weight: 300;
    height: 40px;
    background: #f5f7f9;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
}

.search-bar::placeholder {
    color: rgb(79, 114, 138);
}

.span-container {
    display: flex;
    justify-content: center;
    padding: 1.5em;
}
