.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.modal-body {
    padding: 0 3rem;
    background: white;
    position: relative;
    border: 1px solid rgb(211, 211, 211);
}

.modal-content {
    display: flex;
    justify-content: center;
}

.close-btn {
    border: 0;
    background: 0;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close-btn-icon {
    height: 1rem;
    width: 1rem;
    transition: .2s;
}

.close-btn:hover .close-btn-icon {
    fill: red;
}
