.supplier-form-container {
    width: 500px;
}

.supplier-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.supplier-form > input {
    width: 100%;
    padding: 5px 15px;
    font-size: 1.2rem;
    font-weight: 300;
    height: 40px;
    background: #f5f7f9;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
}

.supplier-form > input::placeholder {
    color: rgb(79, 114, 138);
}

.supplier-form > * + * {
    margin-top: 1rem;
}

.name-input.unvalidated {
    border: 1px solid red;
}

.name-input.unvalidated::placeholder {
    color: red;
}

.unvalidated-span {
    margin-top: 2px;
    color: red;
    font-weight: 300;
}

.supplier-form > textarea {
    resize: none;
    width: 100%;
    padding: 5px 15px;
    font-size: 1.2rem;
    font-weight: 300;
    height: 120px;
    background: #f5f7f9;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
}

.supplier-form > textarea::placeholder {
    color: rgb(79, 114, 138);

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: .7rem;
}

.buttons {
    margin-left: auto;
}

.delete {
    border: 0;
    width: 120px;
    height: 40px;
    font-size: 1rem;
    background: rgb(185, 0, 0);
    color: white;
    cursor: pointer;
    margin-right: .5rem;
}

.delete:hover {
    background: rgb(208, 49, 49)
}

.submit {
    border: 0;
    width: 120px;
    height: 40px;
    font-size: 1rem;
    background: rgb(42, 155, 42);
    color: white;
    cursor: pointer;
}

.submit:hover {
    background: rgb(49, 182, 49);
}
