.supplier {
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1.125rem;
    /*border-radius: 8px;*/
    color: var(--font-color);
    /*-webkit-tap-highlight-color: var(--element-hover-color);*/
}

/*@media (max-width: 768px) {*/
/*    .supplier {*/
/*        border-radius: 0;*/
/*    }*/
/*}*/

.supplier:active {
    background: var(--supplier-hover-color);
}

/*.supplier:focus {*/
/*    background: var(--supplier-hover-color);*/
/*}*/

.show-supplier-btn {
    margin-left: auto;
    border: 0;
    cursor: pointer;
    background: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.show-supplier-icon {
    padding: 0;
    fill: black;
    width: 2rem;
    height: 2rem;
    stroke: var(--font-color);
    transition: stroke .2s;
}

.show-supplier-btn:hover > .show-supplier-icon {
    stroke: var(--primary-color);
}

@media (max-width: 768px) {
    .show-supplier-btn {
        display: none;
    }
}