.supplier {
    padding: .8rem;
    cursor: pointer;
    color: var(--font-color);
    transition: background .2s;
    position: relative;
    font-size: 1.2rem;
}

.supplier + .supplier {
    border-top: 1px solid rgb(211, 211, 211);

}

.supplier:hover {
    background: var(--element-hover);
}

.show-supplier-btn {
    /*border: 2px solid black;*/
    border: 0;
    position: absolute;
    top: calc(50% - .9rem);
    right: -5rem;
    cursor: pointer;
    background: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color .2s ease-in-out, right .2s ease-in-out;
}

.show-supplier-btn.visible {
    right: .5rem;
}

.show-supplier-icon {
    padding: 0;
    fill: black;
    width: 1.8rem;
    height: 1.8rem;
    transition: fill .2s ease-in-out;
    shape-rendering: geometricPrecision;
}

.show-supplier-btn:hover {
    /*border-color: var(--main-blue);*/
}

.show-supplier-btn:hover > .show-supplier-icon {
    fill: var(--main-blue);
}