.supplier {
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1.125rem;
    color: var(--font-color);
    user-select: none;
    /*-webkit-tap-highlight-color: var(--element-hover-color);*/
}


.supplier.chosen {
    background: var(--supplier-hover-color);
}

/*@media (max-width: 768px) {*/
/*    .supplier {*/
/*        border-radius: 0;*/
/*    }*/
/*}*/

/* .supplier:active { */
/*     background: var(--supplier-hover-color); */
/* } */

/*.supplier:focus {*/
/*    background: var(--supplier-hover-color);*/
/*}*/

.show-supplier-btn {
    margin-left: auto;
    border: 0;
    cursor: pointer;
    background: 0;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.show-supplier-icon {
    padding: 0;
    fill: black;
    width: 2rem;
    height: 2rem;
    stroke: var(--font-color);
    transition: stroke .2s;
}

.show-supplier-btn:hover > .show-supplier-icon {
    stroke: var(--primary-color);
}

/*@media (max-width: 768px) {*/
/*    .show-supplier-btn {*/
/*        display: none;*/
/*    }*/
/*}*/

@media screen and (min-width: 45rem) {
    .supplier {
        border-radius: 10px;
        padding: .5rem .625rem .5rem .625rem;
    }

    .supplier:hover {
        background: var(--supplier-hover-color);
    }

    .show-supplier-btn {
        display: flex;
    }
}
