.supplier-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  left: -200px;
  transition: left 0.2s ease-in-out;
}

.supplier-list-container--active {
  left: 0;
}

.supplier-list-header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid rgb(211, 211, 211);
  transition: box-shadow 0.15s ease-in-out;
}

.supplier-list-header--shadow {
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.supplier-list-header-top {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.125rem 0 0.5rem;
  width: 100%;
}

.supplier-list-header-bottom {
  padding: 0.25rem 0 0.25rem 0.75rem;
  display: flex;
  align-items: flex-start;
}

.sort-btn {
  background: 0;
  border: 0;
  border-radius: 7px;
  font-size: 1.25rem;
  cursor: pointer;
  padding: 0.375rem 0.5rem;
}

.sort-btn:active {
  background-color: var(--element-hover-color);
}

.open-sidebar-btn {
  background: 0;
  outline: 0;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
}

.open-sidebar-icon {
  height: 2rem;
  width: 2rem;
  stroke: var(--font-color);
}

.close-sidebar-icon {
  width: 2.5rem;
  height: 2.5rem;
  stroke: var(--font-color);
}

.add {
  font-size: 2.2rem;
  font-weight: 300;
  color: white;
  margin-left: 0.5rem;
}

.add-icon {
  stroke: white;
  height: 1.5rem;
  width: 1.5rem;
}

.search-container {
  position: relative;
  width: 100%;
  height: 2.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.glass-icon {
  width: 1rem;
  height: 1rem;
  position: absolute;
  fill: hsl(0, 0%, 64%);
  top: calc(50% - 0.5625rem);
  left: 1rem;
  transition: fill 0.2s;
}

.glass-icon.active {
  fill: var(--primary-color);
}

.search-container:hover .glass-icon {
  fill: var(--primary-color);
}

.search-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  border: 2px solid var(--primary-color);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.search-border.active {
  opacity: 1;
}

.search-bar {
  padding: 0.25rem 2.5rem;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  transition: border-color 0.2s, border-width 0.2s;
  caret-color: var(--primary-color);
}

.search-container:hover .search-bar {
  border-color: var(--primary-color);
}

.search-bar::placeholder {
  color: #aaa;
  transition: color 0.2s;
}

.search-bar:hover::placeholder {
  color: var(--primary-color);
}

.search-bar:focus::placeholder {
  color: var(--primary-color);
}

.clear-input {
  position: absolute;
  right: 0.25rem;
  background: 0;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  max-width: 2rem;
  max-height: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-input-icon {
  fill: hsl(0, 0%, 64%);
  transition: fill 0.2s;
  width: 1.125rem;
  height: 1.125rem;
}

.clear-input-icon.active {
  fill: var(--primary-color);
}

.search-container:hover .clear-input-icon {
  fill: var(--primary-color);
}

.exclamation {
  font-size: 1.2rem;
  margin-top: -6px;
}

.supplier-list-error {
  padding-top: 2rem;
  color: var(--error-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.supplier-list-error-icon {
  width: 1.75rem;
  height: 1.75rem;
  stroke: var(--error-color);
  transform: rotateZ(180deg);
  margin-right: 0.5rem;
}

.supplier-list-main {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 0.5rem;
  height: 100%;
  width: 100%;
  position: relative;
}

.supplier-list {
  height: 100%;
  width: 100%;
  list-style: none;
}

.scroll-top-btn {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  border: 0;
  border-radius: 50%;
  bottom: 3rem;
  right: 2rem;
  background: var(--element-hover-color);
  transition: opacity 0.2s, visibility 0.2s;
}

.scroll-top-icon {
  width: 2.5rem;
  height: 2.5rem;
  stroke: hsl(0, 0%, 10%);
  transform: rotateZ(90deg);
}

.nothing-found {
  font-size: 1.2rem;
  padding-top: 2rem;
}

@media screen and (min-width: 45rem) {
  .open-sidebar-btn:hover {
    background: var(--element-hover-color);
  }

  .clear-input:hover {
    background: var(--supplier-hover-color);
  }

  .supplier-list-main {
    padding: 0.5rem 0.5rem 0;
  }

  .scroll-top-btn {
    bottom: 2rem;
    right: 2rem;
  }

  .scroll-top-btn:hover {
    border: 1px solid hsla(0, 0%, 0%, 0.4);
  }

  .sort-btn {
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.25rem 0.375rem;
    background: 0;
  }

  .sort-btn:hover {
    background-color: var(--element-hover-color);
  }
}
