.supplier-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -200px;
    transition: left .2s ease-in-out;
}

@media (max-width: 768px) {
    .supplier-list-container {
        width: 100vw;
    }
}

.supplier-list-container--active {
    left: 0;
}

.supplier-list-header {
    display: flex;
    align-items: center;
    padding: 0 0.625rem;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid rgb(211, 211, 211);
    transition: box-shadow 0.15s ease-in-out;
}

.supplier-list-header--shadow {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.add {
    height: 40px;
    font-size: 2.2rem;
    font-weight: 300;
    color: white;
    margin-left: .5rem;
}

.add-icon {
    stroke: white;
    height: 1.5rem;
    width: 1.5rem;
}

.search-container {
    position: relative;
    width: 100%;
    height: 40px;
}

.glass {
    width: 1rem;
    height: 1rem;
    position: absolute;
    fill: rgb(164, 164, 164);
    top: calc(50% - .5625rem);
    left: 1rem;
    transition: fill .2s;
}

.glass.active {
    fill: var(--primary-color);
}

.search-bar {
    padding: .25rem 2.5rem;
    font-size: 1rem;
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 2rem;
    transition: border-color .2s, outline-width .2s;
    box-shadow: 1px 1px 2px 0 hsla(0, 0%, 0%, 0.14)
}

.search-bar:hover {
    border: 1px solid rgb(180, 180, 180);
}

.search-bar:focus {
    border: 2px solid var(--primary-color);
    padding-left: calc(2.5rem - 1px);
}

.clear-input {
    position: absolute;
    top: calc(50% - .875rem);
    right: .5rem;
    background: 0;
    border: 0;
    cursor: pointer;
    width: 1.75rem;
    height: 1.75rem;
}

.clear-input-icon {
    stroke: var(--font-color);
    width: 1.75rem;
    height: 1.75rem;
}

.exclamation {
    font-size: 1.2rem;
    margin-top: -6px;
}

.error {
    padding-top: 2rem;
    color: var(--danger-color);
    display: flex;
    height: 100%;
    justify-content: center;
}

.supplier-list-main {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: .625rem .25rem 0 .625rem;
    width: 100%;
}

@media (max-width: 768px) {
    .supplier-list-main {
        padding: .625rem 0 0 0;
    }
}

.supplier-list {
    width: 100%;
    list-style: none;
}

.nothing-found {
    font-size: 1.2rem;
    padding-top: 2rem;
}
