.supplier-form {
    padding: 2rem .5rem 0 .875rem;
    position: relative;
}

@media (max-width: 768px) {
    .supplier-form {
        padding-right: .875rem;
    }
}

.supplier-form > * + * {
    margin-top: .875rem;
}

.supplier-form > .supplier-header {
    flex-direction: column;
    align-items: flex-start;
}

.supplier-form > .supplier-info-text {
    flex-direction: column;
    align-items: flex-start;
}

.supplier-form .supplier-info-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.supplier-form .supplier-name {
    position: relative;
}

.danger-text {
    margin-top: .25rem;
    color: var(--danger-color);
}

.supplier-form-footer {
    margin-top: 2rem;
    border: 0;
    display: flex;
    gap: 1rem;
}

.supplier-form-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .1s ease-in-out;
    overflow: hidden;
    box-shadow: 1px 1px 2px 0 hsla(0, 0%, 0%, 0.14)
}

.supplier-form-delete {
    background: var(--danger-color);
}

.supplier-form-submit {
    background: var(--primary-color);
}

.submit-icon {
    height: 2.5rem;
    width: 2.5rem;
    stroke: white;
}

.supplier-form > .loading {
    background: hsla(0, 100%, 100%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
