.route-element {
    color: var(--font-color);
    padding: 0.5rem 2rem 0.5rem 1rem;
    position: relative;
}

.route-element + .route-element {
    border-top: 1px solid rgb(211, 211, 211);
}

.route-element > * + * {
    margin-top: .5rem;
}

.remove-btn {
    margin: 0;
    position: absolute;
    border: 0;
    background: 0;
    cursor: pointer;
    right: 0.5rem;
    top: 0.5rem;
}

.remove-icon {
    transition: .2s;
}

.remove-icon:hover {
    fill: #e51010;
}

.url {
    text-decoration: none;
    color: var(--main-blue);
}

.url:hover {
    text-decoration: underline;
}
