@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Light.ttf");
    font-weight: 300;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: rgb(29, 161, 242) white;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(29, 161, 242);
}

.blue-btn {
    width: 40px;
    height: 40px;
    background: rgb(29, 161, 242);
    cursor: pointer;
    border: 0;
    transition: background .2s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-btn:enabled:hover {
    background: #58b5ec;
}

.blue-btn:disabled {
    background: #9bd0f5;
}

.visible {
    opacity: 1;
    visibility: visible;
}
