:root {
    --main-background: rgb(231, 234, 235);
    --main-blue: rgb(29, 161, 242);
    --hover-blue: rgb(88, 181, 236);
    --disabled-blue: rgb(155, 208, 245);
    --element-background: rgb(231, 234, 235);
    --element-hover: rgb(230, 242, 250);
    --font-color: rgb(0, 0, 0);
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Light.ttf");
    font-weight: 300;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--main-blue) white;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-thumb {
    background: var(--main-blue);
}

.blue-btn {
    width: 40px;
    height: 40px;
    background: var(--main-blue);
    cursor: pointer;
    border: 0;
    transition: background .2s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-btn:enabled:hover {
    background: var(--hover-blue);
}

.blue-btn:disabled {
    background: var(--disabled-blue);
}

.visible {
    opacity: 1;
    visibility: visible;
}
