:root {
    --background-color: linear-gradient(to bottom right, hsla(262, 47%, 83%, 0.4), hsla(262, 47%, 83%, 0.2));
    --primary-color: hsl(262, 47%, 63%);
    --primary-color-light: hsl(262, 47%, 73%);
    --main-background: hsl(195 9% 91%);
    --main-blue: hsl(203, 82%, 66%);
    --hover-blue: hsl(203, 82%, 74%);
    --hover-blue-dark: hsl(203, 82%, 58%);
    --disabled-blue: hsl(205 82% 78%);
    --element-background: hsl(195 9% 91%);
    --element-hover-color: hsla(236, 21%, 14%, 0.1);
    --font-color: hsl(199, 18%, 33%);
    --border-color: hsl(0 0% 83%);
    --hover-gray-color: hsla(0 0% 29% / 0.2);
}

body {
    overflow: hidden;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("./fonts/roboto/Roboto-Light.ttf");
    font-weight: 300;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

::-webkit-scrollbar {
    width: .375rem;
    height: .375rem;
}

:hover {
    scrollbar-color: hsl(0 0% 0% / 25%) transparent;
}

:hover::-webkit-scrollbar-thumb {
    background: hsl(0 0% 0% / 25%);
    border-radius: 20px;
}

@media (max-width: 768px) {
    ::-webkit-scrollbar-thumb {
        background: hsl(0 0% 0% / 25%);
        border-radius: 20px;
    }
}

#root {
    height: 100vh;
}

.blue-btn {
    min-width: 40px;
    min-height: 40px;
    background: var(--primary-color);
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.12), 0 1px 5px 0 hsla(0, 0%, 0%, 0.2);
    transition: background .2s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.blue-btn:enabled:hover {*/
/*    background: var(--primary-color-light);*/
/*}*/

.blue-btn:disabled {
    cursor: initial;
    background: var(--disabled-blue);
}

.visible {
    opacity: 1 !important;
    visibility: visible !important;
}
