:root {
  --background-color: linear-gradient(
    to bottom right,
    hsla(262, 47%, 83%, 0.4),
    hsla(262, 47%, 83%, 0.2)
  );
  --primary-color: hsl(220, 100%, 60%);
  --primary-color-hover: hsl(220, 100%, 65%);
  --primary-color-disabled: hsl(220, 100%, 70%);
  --primary-color-transparent: hsl(262, 0%, 20%, 0.9);
  --main-background: hsl(195, 9%, 91%);
  --element-hover-color: hsla(236, 21%, 10%, 0.2);
  --supplier-hover-color: hsla(220, 100%, 0%, 0.1);
  --font-color: hsl(199, 18%, 20%);
  --border-color: hsl(0, 0%, 83%);
  --error-color: hsl(0, 100%, 63%);
  --error-color-hover: hsl(0, 100%, 68%);
  --link-color: hsl(220, 100%, 60%);
  --scrollbar-color: hsla(0, 0%, 0%, 0.25);
  --sidebar-width: 20rem;
  --sidebar-background-color: hsl(220, 100%, 90%);
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: hsla(0 0 0 / 0);
}

a,
a:visited {
  color: var(--link-color);
}

.round-btn {
  min-height: 2.5rem;
  min-width: 2.5rem;
  background: var(--primary-color);
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14),
    0 3px 1px -2px hsla(0, 0%, 0%, 0.12), 0 1px 5px 0 hsla(0, 0%, 0%, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.visible {
  opacity: 1 !important;
  visibility: visible !important;
}

@media screen and (min-width: 45rem) {
  *,
  *::before,
  *::after {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }

  .round-btn:disabled {
    cursor: initial;
    background: var(--primary-color-disabled);
  }

  .round-btn:disabled:hover {
    background: var(--primary-color-disabled);
  }

  .round-btn:hover {
    background: var(--primary-color-hover);
  }

  :hover {
    scrollbar-color: var(--scrollbar-color) transparent;
  }

  ::-webkit-scrollbar {
    width: 0.375rem;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
  }

  :hover::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
  }
}
