:root {
    --background-color: linear-gradient(to bottom right, hsla(262, 47%, 83%, 0.4), hsla(262, 47%, 83%, 0.2));
    --primary-color: hsl(262, 47%, 63%);
    --primary-color-light: hsl(262, 47%, 73%);
    --primary-color-transparent: hsl(262, 0%, 20%, 0.9);
    --main-background: hsl(195, 9%, 91%);
    --element-hover-color: hsla(236, 21%, 10%, 0.2);
    --supplier-hover-color: hsla(236, 21%, 50%, 0.2);
    --font-color: hsl(199, 18%, 20%);
    --border-color: hsl(0, 0%, 83%);
    --danger-color: hsl(0, 100%, 63%);
    --link-color: hsl(219, 76%, 44%)
}

body {
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("assets/fonts/roboto/Roboto-Light.ttf");
    font-weight: 300;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

a, a:visited {
    color: var(--link-color);
}

::-webkit-scrollbar {
    width: .375rem;
    height: .375rem;
}

:hover {
    scrollbar-color: hsl(0 0% 0% / 25%) transparent;
}

:hover::-webkit-scrollbar-thumb {
    background: hsl(0 0% 0% / 25%);
    border-radius: 20px;
}

#root {
    height: 100%;
    width: 100%;
}

.round-btn {
    min-width: 40px;
    min-height: 40px;
    background: var(--primary-color);
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.14), 0 3px 1px -2px hsla(0, 0%, 0%, 0.12), 0 1px 5px 0 hsla(0, 0%, 0%, 0.2);
    transition: background .2s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-btn:disabled {
    cursor: initial;
    background: var(--primary-color-light);
}

.visible {
    opacity: 1 !important;
    visibility: visible !important;
}
