.search-container {
  padding: 1em;
  min-width: 350px;
  max-width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.search-bar {
  padding: 5px 0 5px 15px;
  font-size: 1.2rem;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 1em;
}

.list-container {
  border: 1px solid rgb(112, 112, 112);
  margin-top: 1em;
  overflow: auto;
}

.names-list {
  list-style: none;
  font-size: 1.2rem;
}

.names-list > li {
  font-family: sans-serif;
  padding: 0.3rem 0.5rem 0.3rem 15px;
  cursor: pointer;
}

.names-list > li:nth-child(odd) {
  background: rgb(236, 240, 241);
}

.names-list > li:hover {
  background: hsl(0 0% 60%);
}

.span-container {
  display: flex;
  justify-content: center;
  padding: 1.5em;
}