.route-sheet-header {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    min-height: 60px;
    border-bottom: 1px solid var(--border-color);
}

.route-sheet-title {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    white-space: nowrap;
    margin-right: auto;
    user-select: none;
    color: var(--font-color);
}

.print {
    margin-left: 0.5rem;
}

.times-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

.print-icon {
    width: 1.625rem;
    height: 1.625rem;
    stroke: white;
}

.cancel-print-icon {
    width: 2rem;
    height: 2rem;
    stroke: white;
}

.route-sheet-container {
    padding-right: .625rem;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.route-sheet {
    list-style: none;
}
