.route-sheet-header {
    display: flex;
    align-items: center;
    padding: 0 .625rem;
    min-height: 60px;
    border-bottom: 1px solid var(--border-color);
}

.route-sheet-title {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    white-space: nowrap;
}

.clear {
    margin-left: auto;
}

.print {
    margin-left: 0.5rem;
}

.times-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: white;
}

.print-icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}

.route-list-container {
    padding-right: .625rem;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.route-list {
    list-style: none;
}
